.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 250px;
  width: 100%;
  background-color: #ccd4d1;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 15px;
  overflow: hidden;
  z-index: 2;
  opacity: 0;
  animation-name: reveal;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

  &:hover {
    background-color: #e0f7e3;
    box-shadow:
      2px 2px 15px 0px rgba(0, 0, 0, 0.5),
      -2px -2px 15px 0px rgba(0, 0, 0, 0.2);

    & .pic {
      scale: 110%;
    }

    & .description {
      color: rgb(0, 0, 0);
    }

    & .name {
      color: rgb(0, 0, 0);
    }

    & .with-discount {
      &::before {
        background-color: rgb(255, 0, 0);
      }
    }

    &.sale {
      & .sale-percentage {
        transform: translate(-50%, -15%);
      }
    }
  }

  &.sale {
    & .sale-percentage {
      position: absolute;
      content: 'SALE';
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      width: 100%;
      height: 3rem;
      font-size: 2rem;
      top: 0;
      left: 50%;
      padding-top: 1rem;
      padding-bottom: 0.5rem;
      transform: translate(-50%, -100%);
      background-color: rgba(253, 1, 1, 0.459);
      transition: 0.3s;
      z-index: 20;
    }
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pic-container {
  position: relative;
  max-height: 250px;
  max-width: 250px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px 15px 0 0;

  &::before {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    box-shadow: inset 0 -2px 5px 0 rgba(0, 0, 0, 0.103);
  }
}

.pic {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  scale: 100%;
  transition: 0.3s;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.6rem;
  gap: 0.7rem;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: 'Inter';
  color: rgb(40, 40, 40);
}

.description {
  font-family: 'FuturaMediumC';
  font-size: 1.2rem;
  color: rgb(40, 40, 40);
}

.price {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5rem;

  &.with-discount {
    &::before {
      position: absolute;
      content: '';
      width: 200%;
      height: 50px;
      left: 0;
      top: 0;
      transform: translate(-25%, -10%);
      background-color: rgb(228, 55, 55);
      transition: 0.3s;
    }

    & .price-value {
      color: rgb(255, 255, 255);
    }

    & .crossed {
      color: rgb(148, 148, 148);
    }
  }
}

.price-value {
  font-weight: bold;
  font-family: 'Inter';
  font-size: 1.5rem;
  z-index: 10;

  &.crossed {
    position: relative;
    overflow: hidden;
    padding: 0 5px;

    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 2px;
      background-color: rgb(148, 148, 148);
      left: 0;
      top: 50%;
      transform: translateY(-50%) rotate(-15deg);
    }
    color: rgb(88, 88, 88);
  }

  &.discount {
    font-size: 1.5rem;
    color: #ffffff;
  }
}

.card.details {
  max-width: 100%;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: aliceblue;

  & .pic-container {
    margin: 1rem;
    flex-basis: 100%;
    align-self: flex-start;
    max-height: 60%;
    max-width: 30%;
    border-radius: 15px;
  }

  & .info-container {
    flex-basis: 50%;
  }
}

.card.sale.details {
  & .sale-percentage {
    left: 10%;
    width: 20%;
  }
  & .price {
    &::before {
      width: 40%;
      left: 10%;
    }
  }
}

.attributes-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px;
  gap: 1rem;
  background-color: #ffffff;
}

.attributes {
  margin-top: 5px;
  font-size: 1rem;
}
