.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 2rem 1rem;
  background-color: rgb(180, 190, 161);
  gap: 2rem;

  @media screen and (max-width: 915px) {
    flex-direction: column;
    gap: 1rem;
  }
}

.page-container {
  position: relative;
  display: flex;
  width: 100%;

  & .scrollbar {
    position: absolute;
    right: 0.2rem;
    top: 0;
    border-radius: 5px;
    width: 10px;
    height: 100px;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0);

    &::after {
      content: '';
      position: absolute;
      top: 10px;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 5px;
      width: 10px;
      height: 80px;
      z-index: 10;
      background-color: rgba(0, 0, 0, 0.25);
    }
  }
}

.items-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 15px;
  max-height: 500px;
  // overflow: hidden;
  overflow: auto;

  // Hide scrollbar for Chrome
  &::-webkit-scrollbar {
    display: none;
  }
  // Hide scrollbar for IE and Edge
  -ms-overflow-style: none;
  // Hide scrollbar for Firefox
  scrollbar-width: none;

  & > *:nth-last-child(n + 2) {
    &::after {
      content: '';
      position: absolute;
      left: 3rem;
      bottom: 0;
      // transform: translateX(-50%);
      width: 90%;
      height: 1px;
      background-color: rgb(197, 197, 197);
      z-index: 5;
    }
  }
}

.basket-item {
  position: relative;
  display: grid;
  grid-template-columns: 100px 200px 120px 100px;
  justify-content: stretch;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 10px 10px 10px 3rem;
  background-color: #f3f3f3;
  transition: 0.1s;

  &:hover {
    background-color: #e7e7e7;
  }
}

.pic-container {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  overflow: hidden;

  & img {
    width: 80px;
    height: 80px;
  }
}

.price-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;

  &.sale {
    .base-price {
      position: relative;
      overflow: hidden;
      padding: 0 5px;

      &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        background-color: rgb(148, 148, 148);
        left: 0;
        top: 50%;
        transform: translateY(-50%) rotate(-15deg);
      }

      color: rgb(88, 88, 88);
    }
  }
}

.quantity-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity-input {
  width: 2rem;
  height: 2.4rem;
  border: none;
  border-top: 2px solid rgb(109, 109, 109);
  border-bottom: 2px solid rgb(109, 109, 109);
  text-align: center;
  outline: none;
  font-size: 1.2rem;
}

.quantity-btn {
  width: 1.8rem;
  height: 2.4rem;
  border: 2px solid rgb(109, 109, 109);
  background-color: white;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.1s;

  &:first-child {
    border-right: none;
  }

  &:last-child {
    border-left: none;
  }

  &:hover {
    background-color: #dadada;
  }
}
