.profile-container {
  display: flex;
  padding: 40px 0;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(246, 246, 246, 1) 0%, rgba(192, 208, 212, 1) 1%, rgba(233, 233, 241, 1) 100%);
  justify-content: center;
  align-items: center;
}

.profile-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 350px;
  height: 100vh;
  padding: 100px 30px 0;
}

.title-user {
  padding-bottom: 10px;
  border-bottom: 1px solid;
}

.users-information_container {
  display: flex;
  width: 100vw;
  height: 100vh;
  border-left: 1px solid;
  padding: 130px 20px 0;
}

.user-info-btn {
  width: 250px;
  height: 35px;
  border-radius: 0;
  background-color: #ccd4d1;
  border: 1px solid #56615c;
  font-size: clamp(0.75rem, 0.462rem + 1.18vw, 1.2rem);
  transition: 0.1s;
  cursor: pointer;

  &:hover {
    background-color: #e5eeea;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
  }

  &:disabled {
    background-color: #ccd4d1;
    color: #56615c;
  }
}

.profile-information {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 10px;
  border: 1px solid;
  border-image: linear-gradient(90deg, rgba(246, 246, 246, 1) 0%, rgba(4, 164, 241, 1) 98%, rgba(17, 172, 236, 1) 100%);
  border-image-slice: 1;
  padding: 20px;
  align-self: flex-start;

  &::after {
    content: 'Users Profile';
    position: absolute;
    top: -80px;
    left: 0;
    font-size: 56px;
    white-space: nowrap;
  }
}

.addresses-information_container {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  gap: 10px;

  &::after {
    content: 'Users Addresses';
    position: absolute;
    top: -80px;
    font-size: 56px;
  }
}

.defaultAddressesTitle {
  font-size: clamp(1.063rem, 0.25rem + 2.6vw, 1.875rem);
  padding-bottom: 20px;
}

.profile-addresses {
  border: 1px solid;
  border-image: linear-gradient(90deg, rgba(69, 237, 6, 1) 0%, rgba(4, 164, 241, 1) 100%, rgba(17, 172, 236, 1) 100%);
  border-image-slice: 1;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  margin-right: 10px;
}

.addresses {
}

// .addresses-content {
//   display: flex;
//   flex-direction: column;
//   gap: 20px;
// }

.all-addresses-btn {
  cursor: pointer;
  align-self: flex-start;
}

.account-profile-info__content {
  display: flex;
  font-size: clamp(0.75rem, -0.063rem + 2.6vw, 1.563rem);

  span {
    padding-left: 5px;
    font-weight: 700;
  }
}

// .addresses-info {
//   border: 1px solid green;
// }
