.home-page-wrapper {
  width: 100%;
  height: 100%;
  padding: clamp(0.625rem, 0.225rem + 1.639vw, 1.25rem);
  background-image: url('/assets/images/login-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-description {
  margin: 20px;
  padding: 2rem;
  backdrop-filter: blur(10px) brightness(95%);
  background-color: rgba(255, 255, 255, 0.7);
  font-size: clamp(1rem, 0.552rem + 1.836vw, 1.7rem);
}

.article-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: clamp(0.7rem, -0.131rem + 3.41vw, 2rem);
  border: 2px solid rgba(0, 0, 0, 0.192);
  background-color: rgba(255, 255, 255, 0.9);
}

.article-title {
  font-size: clamp(1rem, 0.361rem + 2.623vw, 2rem);
}

.article-info {
  height: 35vh;
  width: 100%;
  padding-right: 30%;
  background-image: url('/assets/images/brand-cup.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: clamp(5rem, -1.393rem + 26.23vw, 15rem);
  font-size: clamp(0.7rem, 0.189rem + 2.098vw, 1.5rem);
}
